.achievement-accord {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .achievement-accord {
    margin-left: 2%;
    margin-right: 2%;
  }
}
